.feedback {
  min-height: 600px;
  padding-top: 95px;
  padding-bottom: 55px;

  color: $color-white;

  background-repeat: no-repeat;
  background-position: top -55px left calc(50% - 415px);
  background-image: url("../img/feedback-desktop.jpg");
  background-color: $color-dodger-blue;

  @media (max-width: $max-tablet-width) {
    padding-top: 80px;
    padding-bottom: 70px;
    background-image: none;
  }

  @media (max-width: $max-mobile-width) {
    padding-top: 30px;
    padding-bottom: 10px;
  }
}

.feedback__container {
  max-width: 1170px;
}

.feedback__column {
  max-width: 570px;
  margin-left: auto;

  @media (max-width: $max-tablet-width) {
    margin-right: auto;
  }

  @media (max-width: $max-mobile-width) {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.feedback__title {
  @include font-roboto-regular();

  margin: 0;

  color: $color-white;
  font-size: 36px;
  line-height: 1.41;

  @media (max-width: $max-tablet-width) {
    font-size: 32px;
  }

  @media (max-width: $max-mobile-width) {
    font-size: 28px;
  }
}

.feedback__text {
  @include font-pt();

  margin: 7px 0 0;

  color: $color-white;
  font-size: 16px;
  line-height: 1.34;
}

.feedback__form-wrapper {
  padding-top: 55px;
  padding-bottom: 20px;

  @media (max-width: $max-mobile-width) {
    padding-top: 30px;
    padding-bottom: 0;
  }
}

.feedback-form__field {
  margin-bottom: 40px;

  @media (max-width: $max-mobile-width) {
    margin-bottom: 30px;
  }

  & input[type="text"],
  & textarea {
    @include font-pt();

    display: block;
    width: 100%;
    padding: 14px 16px;

    color: $color-white;
    font-size: 16px;
    line-height: 1.34;

    background-color: $color-light-blue;
    border: none;
    box-shadow: none;
    appearance: none;
    resize: none;
    transition: background-color $default-transition-time $default-transition-func;

    &::placeholder {
      font: inherit;
      color: $color-white;
    }

    &:focus,
    &:active {
      background-color: $color-white;
      color: $color-dodger-blue;
    }
  }

  & textarea {
    min-height: 154px;

    @media (max-width: $max-mobile-width) {
      min-height: 104px;
    }
  }

  & button[type="submit"] {
    @include reset-button();
    @include font-roboto-bold();
    @include default-hover-effect();

    position: relative;
    display: block;
    overflow: hidden;
    min-height: 45px;
    min-width: 100px;
    width: 100%;
    padding: 14px 25px;

    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 0.05em;

    border: 1px solid $color-white;
    border-radius: 5px;
    background-color: transparent;
  }

  & input[type="checkbox"] + label {
    @include font-pt();

    position: relative;
    display: block;
    padding-top: 10px;
    padding-left: 35px;

    color: $color-white;
    font-size: 14px;

    &::before {
      content: "";
      position: absolute;
      top: 10px;
      left: 0;
      width: 17px;
      height: 16px;

      border: 1px solid $color-white;
      cursor: pointer;
    }
  }

  & input[type="checkbox"]:checked + label {
    &::before {
      background-image: url("../img/tick.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 8px 5px;

      transition: all $default-transition-time $default-transition-func;
    }
  }
}

.feedback-form__row {
  display: flex;

  & .feedback-form__field {
    width: calc(50% - 15px);
  }

  & .feedback-form__field + .feedback-form__field {
    margin-left: 30px;
  }

  @media (max-width: $max-mobile-width) {
    display: block;

    & .feedback-form__field {
      width: 100%;
    }

    & .feedback-form__field + .feedback-form__field {
      margin-left: 0;
    }
  }
}
