@font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Roboto Condensed Regular"),
    local("RobotoCondensed-Regular"),
    url("../fonts/roboto-condensed-regular.woff2") format("woff2"),
    url("../fonts/roboto-condensed-regular.woff") format("woff");
}

@font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Roboto Condensed Bold"),
    local("RobotoCondensed-Bold"),
    url("../fonts/roboto-condensed-bold.woff2") format("woff2"),
    url("../fonts/roboto-condensed-bold.woff") format("woff");
}

@font-face {
  font-family: "PT Mono";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("PT Mono Regular"),
    local("PTMono-Regular"),
    url("../fonts/pt-mono-regular.woff2") format("woff2"),
    url("../fonts/pt-mono-regular.woff") format("woff");
}
