@mixin reset-list() {
  list-style: none;
  margin: 0;
  padding: 0;
}

@mixin reset-button() {
  margin: 0;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
  border: none;
  background-color: transparent;
  user-select: none;
  font-family: inherit;
  color: inherit;
  letter-spacing: inherit;
  font-size: inherit;
}

@mixin reset-link() {
  text-decoration: none;
  color: inherit;
}

@mixin font-pt() {
  font-style: normal;
  font-weight: 400;
  font-family: $font-pt;
}

@mixin font-roboto-regular() {
  font-style: normal;
  font-weight: 400;
  font-family: $font-roboto;
}

@mixin font-roboto-bold() {
  font-style: normal;
  font-weight: 700;
  font-family: $font-roboto;
}

@mixin hover-desktop {
  @media (min-width: $min-desktop-width) {
    &:hover {
      @content;
    }
  }
}

@mixin default-hover-effect() {
  transition: opacity $default-transition-time $default-transition-func;

  @include hover-desktop {
    opacity: $default-opacity-hover;
  }

  &:active {
    opacity: $default-opacity-active;
  }
}
