// fonts
/* stylelint-disable-next-line value-keyword-case */
$fallback-font: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-pt: "PT Mono", $fallback-font;
$font-roboto: "Roboto Condensed", $fallback-font;

//breakpoints
$min-mobile-width: 320px;
$max-mobile-width: 767px;
$min-tablet-width: 768px;
$max-tablet-width: 1023px;
$min-desktop-width: 1024px;

//pixel density
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

//transition
$default-transition-time: 0.3s;
$default-transition-func: ease;
$default-opacity-hover: 0.7;
$default-opacity-active: 0.5;

// colors
$color-black: #000000;
$color-white: #ffffff;
$color-dark: #666666;
$color-gable-green: #1b2d37;
$color-dodger-blue: #00b2ff;
$color-light-blue: #19baff;
$color-gallerey: #ebebeb;
